{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
