{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>Id: {{ product.id }}</li>
        <li>Name: {{ product.name }}</li>
        <li>Price: {{ product.price }}</li>
    </ul>
{% endblock %}


